*{
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 98%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    }
    
    window#waybar {
      background: rgba(0, 0, 0, 0);
    }
    
    window#waybar.hidden {
      opacity: 0.5;
    }
    
    tooltip {
      background: #f0e8e8;
      color:#373737;
      border-radius: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: #dfb9b9;
    }
    
    /*-----module groups----*/
    .modules-right {
      color: #373737;
      background: #f0e8e8;
      border-radius: 10px;
    }
    
    .modules-center {
      color: #373737;
      background: #f0e8e8;
      border-radius: 10px;
    }
    
    .modules-left {
      color: #373737;
      background: #f0e8e8;
      border-radius: 10px;
    }
    
    #workspaces button {
      padding: 2px;
      color: rgb(212, 172, 172);
      margin-right: 5px;
    }
    
    #workspaces button.active {
      color: #373737;
      border-radius: 15px 15px 15px 15px;
    }
    
    #workspaces button.focused {
      color: #ff9797;
    }
    
    #workspaces button.urgent {
      color: #db0505;
      border-radius: 10px;
    }
    
    #workspaces button:hover {
      color: #332828;
      border-radius: 15px;
    }
    
    #clock,
    #battery,
    #temperature,
    #network,
    #pulseaudio,
    #mode,
    #tray,
    #backlight,
    #window,
    #taskbar,
    #workspaces,
    #custom-appmenu,
    #custom-powermenu,
    #custom-changewall
    {
      color: #373737;
      padding: 0px 10px;
      border-radius: 10px;
    }
    
    
    
    #temperature.critical {
      background-color: #ff0000;
    }
    
    @keyframes blink {
      to {
        color: #000000;
      }
    }
    
    #taskbar button.active {
      background-color: #7f849c;
    }
    
    #battery.critical:not(.charging) {
      color: #f5423c;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }